<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-title class="ion-text-center" color="primary" >
          <ion-label>
            <h1>Bienvenido</h1>
          </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input  type="email"
                        [(ngModel)]="user.email" 
                        required 
                        placeholder="correo@corre.com" 
                        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></ion-input>
        </ion-item>
          <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input  type="password"
                          [(ngModel)]="user.password"
                          pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,8}$"
                          required></ion-input>
          </ion-item>
      </ion-card-content>
      <ion-button shape="block" (click)="login()">Iniciar Sesión</ion-button>
  </ion-card>

</ion-content>
