<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Nosotros </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="about">
      Somos un grupo de tres desarrolladores.
    </div>
    <img src="" alt="">
  </ion-card-content>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/fototomas.jpg">
      <ion-card-subtitle>Programador</ion-card-subtitle>
      <ion-card-title>Tomás Rojas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Encargado de Programación
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/fotokatia.jpg">
      <ion-card-subtitle>Programador</ion-card-subtitle>
      <ion-card-title>Katia Concha</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Encargada de Programación
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/fotoignacio.jpg">
      <ion-card-subtitle>Programador</ion-card-subtitle>
      <ion-card-title>Ignacio Vergara</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Encargado de Programación
    </ion-card-content>
  </ion-card>



</ion-content>